* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    margin-top: 3%;
    color: white;
    font-size: 4vw;
    text-align:center;
    text-shadow: 0 0 100px #FF0000, 0 0 100px #0000FF;
}

body {
    background-image: url("street.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#userScore, #compScore, #roundWinner {
    color: white;
}

#gameWinner {
    color: red;
}

button {
    transition-duration: 0.4s;
    width: 10%;
    border: none;
    color: black;
    background-color: white;
    font-size: 2vw;
}
  
button:hover {
    background-color: red; /* Green */
    color: white;
}


