* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("images/street.jpg");
    background-position: 50% 90%;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: end;
}

h1 {
    margin-top: 4vw;
    color: white;
    font-size: 4vw;
    text-align:center;
    text-shadow: 0 0 100px #FF0000, 0 0 100px #0000FF;
}

img { width: 100%; height: auto; }

.top-half, .bottom-half {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.top-half {
    justify-content: start;
}

.bottom-half {
    justify-content: end;
}

.score_container {
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vw;
}

.fight_container {
    display: flex;
    justify-content: center;
}

.img_container {
    max-width: 30vw;
}

.button_container {
    flex-direction: row;
    justify-content: space-around;
}



#userScore, #compScore, #roundWinner {
    color: white;
}

#newGame {

}

#gameWinner {
    color: red;
}

button {
    transition-duration: 0.4s;
    width: 10%;
    border: none;
    color: black;
    background-color: white;
    font-size: 2vw;
}
  
button:hover {
    background-color: red; /* Green */
    color: white;
}


